.etape {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_entete {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-lg);
        align-self: flex-end;
        min-width: min(645px, 100%);
        max-width: 100%;
        padding: 30px 60px 70px 80px;
        background-color: var(--color-primary);
        border-radius: var(--radius);
        color: var(--color-white);
    }

    &_titre {
        white-space: nowrap;
        font-size: var(--font-size-strength-title);
        line-height: 1.63;
        letter-spacing: -0.01em;
        color: var(--color-white);
    }

    &_numero {
        font-family: var(--font-secondary);
        font-weight: var(--fw-h1);
        font-size: var(--font-size-h1);
        line-height: var(--lh-h1);
        letter-spacing: 0.04em;
    }

    &_media {
        position: relative;
        z-index: 1;
        width: 87.7%;
        margin-top: -40px;
        aspect-ratio: 844 / 607;
        border-radius: var(--radius-lg);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &_texte {
        text-wrap: balance;
        position: relative;
        z-index: 2;
        width: 72%;
        margin-top: -74px;
        padding: 45px 86px;
        background-color: var(--color-white);
        border: 1px solid var(--color-bordure);
        border-radius: var(--radius);
        box-shadow: var(--shadow-etape);
        font-weight: var(--fw-semibold);
        font-size: var(--font-size-h4);
        line-height: var(--lh-h4);
        text-align: center;
        color: var(--color-text);

        strong {
            font-weight: var(--fw-heavy);
            color: var(--color-primary);
        }
    }

    &_inverse {
        align-items: flex-end;

        .etape_entete {
            flex-direction: row-reverse;
            align-self: flex-start;
            padding: 30px 80px 70px 60px;
        }

        .etape_media {
            width: 86.8%;
        }

        .etape_texte {
            margin-top: -58px;
        }
    }

    @media screen and (width <= $breakpoint-sm) {
        &_entete,
        &_inverse .etape_entete {
            gap: var(--spacing-mmd);
            padding: 20px var(--spacing-mmd) 50px;
        }

        &_titre {
            white-space: normal;
        }

        &_media,
        &_inverse .etape_media {
            width: 100%;
            margin-top: -30px;
            border-radius: var(--radius);
        }

        &_texte,
        &_inverse .etape_texte {
            width: 92%;
            margin-top: -30px;
            padding: var(--spacing-mmd);
        }
    }
}
