/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: var(--font-secondary);
    font-size: var(--font-size-body);
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
    .no-scroll {
        overflow: hidden;
    }
}
html,
body {
    margin: 0;
    padding: 0;
}
