body {
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: background-color 1s $ease-out-quad;
    font-family: var(--font-secondary);
    font-size: var(--font-size-body);
    line-height: 1.6;
}

body.fond-sombre {
    background-color: var(--color-dark);
}

html,
body {
    margin: 0;
    padding: 0;
}
