/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    --color-white: #fbfff1;
    --color-black: #070707;

    --color-primary: #0492c2;
    --color-bg-primary: #dff2f6;
    --color-bg-secondary: #012d3c;
}
