@mixin icone-fleche($width, $height) {
    width: $width;
    height: $height;
    background-color: currentColor;
    mask-image: url('../assets/icons/fleche.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url('../assets/icons/fleche.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}
