<ul class="reseaux {{ classe }}"{% if id %} id="{{ id }}"{% endif %}>
    <li style="--i: 0">
        <a href="https://www.linkedin.com/in/nathan-fortier-827187296/" target="_blank" rel="noopener" aria-label="LinkedIn">
            {% include "../assets/icons/social-linkedin.svg" %}
        </a>
    </li>
    <li style="--i: 1">
        <a href="https://www.behance.net/nathanfortier1" target="_blank" rel="noopener" aria-label="Behance">
            {% include "../assets/icons/social-behance.svg" %}
        </a>
    </li>
    <li style="--i: 2">
        <a href="https://www.instagram.com/the_nat15/" target="_blank" rel="noopener" aria-label="Instagram">
            {% include "../assets/icons/social-instagram.svg" %}
        </a>
    </li>
    <li class="reseaux_youtube" style="--i: 3">
        <a href="https://www.youtube.com/@NathanFortier-18" target="_blank" rel="noopener" aria-label="YouTube">
            {% include "../assets/icons/social-youtube.svg" %}
        </a>
    </li>
</ul>
